In [1]:
from tvDatafeed import TvDatafeed, Interval

username = 'visibleHawk91069'
password = 'Ayush321@'

tv = TvDatafeed(username, password)

In [7]:
nifty_index_dataD = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_daily,n_bars=10000)
nifty_index_data15m = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_15_minute,n_bars=10000)
nifty_index_data5m = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_5_minute,n_bars=10000)
nifty_index_data45m = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_45_minute,n_bars=10000)
nifty_index_data30m = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_30_minute,n_bars=10000)
nifty_index_dataW = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_weekly,n_bars=10000)
nifty_index_data2H = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_2_hour,n_bars=10000)
nifty_index_data3H = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_3_hour,n_bars=10000)
nifty_index_data1H = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=10000)



#nifty_futures_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=1000,fut_contract=1)
nifty_index_data.shape

(7917, 6)

In [8]:
nifty_index_dataW.head()

,symbol,open,high,low,close,volume
datetime,,,,,,
1990-07-02 09:15:00,NSE:NIFTY,279.01999,289.04001,279.01999,289.04001,0.0
1990-07-09 09:15:00,NSE:NIFTY,289.69000,296.34000,288.69000,296.34000,0.0
1990-07-16 09:15:00,NSE:NIFTY,287.95999,302.59000,287.95999,302.59000,0.0
1990-07-23 09:15:00,NSE:NIFTY,321.76001,329.64999,321.76001,329.64999,0.0
1990-07-30 09:15:00,NSE:NIFTY,347.44000,347.44000,337.29001,337.29001,0.0

In [11]:
nifty_index_dataD.to_csv("TVDATAFolder/nifty_index_dataD.csv")
nifty_index_data15m.to_csv("TVDATAFolder/nifty_index_data15m.csv")
nifty_index_data5m.to_csv("TVDATAFolder/nifty_index_data5m.csv")
nifty_index_data45m.to_csv("TVDATAFolder/nifty_index_data45m.csv")
nifty_index_data30m.to_csv("TVDATAFolder/nifty_index_data30m.csv")
nifty_index_dataW.to_csv("TVDATAFolder/nifty_index_dataW.csv")
nifty_index_data2H.to_csv("TVDATAFolder/nifty_index_data2H.csv")
nifty_index_data3H.to_csv("TVDATAFolder/nifty_index_data3H.csv")
nifty_index_data1H.to_csv("TVDATAFolder/nifty_index_data1H.csv")

In [14]:
nifty_index_dataDvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_daily,n_bars=10000)
nifty_index_data15mvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_15_minute,n_bars=10000)
nifty_index_data5mvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_5_minute,n_bars=10000)
nifty_index_data45mvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_45_minute,n_bars=10000)
nifty_index_data30mvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_30_minute,n_bars=10000)
nifty_index_dataWvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_weekly,n_bars=10000)
nifty_index_data2Hvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_2_hour,n_bars=10000)
nifty_index_data3Hvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_3_hour,n_bars=10000)
nifty_index_data1Hvix = tv.get_hist(symbol='INDIAVIX',exchange='NSE',interval=Interval.in_1_hour,n_bars=10000)

In [15]:
nifty_index_dataDvix.to_csv("TVDATAFolder/nifty_index_dataDvix.csv")
nifty_index_data15mvix.to_csv("TVDATAFolder/nifty_index_data15mvix.csv")
nifty_index_data5mvix.to_csv("TVDATAFolder/nifty_index_data5mvix.csv")
nifty_index_data45mvix.to_csv("TVDATAFolder/nifty_index_data45mvix.csv")
nifty_index_data30mvix.to_csv("TVDATAFolder/nifty_index_data30mvix.csv")
nifty_index_dataWvix.to_csv("TVDATAFolder/nifty_index_dataWvix.csv")
nifty_index_data2Hvix.to_csv("TVDATAFolder/nifty_index_data2Hvix.csv")
nifty_index_data3Hvix.to_csv("TVDATAFolder/nifty_index_data3Hvix.csv")
nifty_index_data1Hvix.to_csv("TVDATAFolder/nifty_index_data1Hvix.csv")

In [20]:
nifty_index_data5m.shape

(5175, 6)